{% load static  %}
{% include 'dasboard/web_templates/header.html' %}




<!--==================================
=          Personal Information     =
===================================-->



<section class="personal-information-main-area">
 <div class="container">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
   	<div class="form-information-heading-area">
   	 <h2>PERSONAL INFORMATION</h2>
   	 <p>This Membership Application Form must be filled out and accompanied by all  supporting documents. Should you experience any problem feeling out the forms associated with your membership, an official from the Red Army Foundation will be happy to assist you in completing your application free of charge.</p>	

   	 <p>The information you provide in this application form is compulsory and integral to your Membership Registration and Social History.Therefore, accurate and complete answers to the  questions are essential.</p>

   	 <p>Any membership or privileges awarded based on false information you provided will be canceled. The Membership Disciplinary Committee shall impose disciplinary actions on those who knowingly provided incorrect information.</p>
   	</div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12">
   	<div class="personal-information-form-area">
     <div class="personal-information-form-heading">
      <h2>PERSONAL INFORMATION FORM</h2>	
     </div>		
   	 <form class="personal-information-input-area" method="post" enctype="multipart/form-data" > 
        {% csrf_token %}
   	  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="custom-file-upload">
            <h1>
         Upload Image
        </h1>
        <label for="file-upload" class="custom-file-upload1" >
            <i class="fa fa-cloud-upload"></i> Upload
        </label>
        <input id="file-upload" type="file"  name="image" />
        </div>
        
         </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Registration Number</label>
          <div class="input-icon">
           <input type="text" placeholder="Registration Number" name="registration_number" class="frm-size" ="">
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Confirmation Code</label>
          <div class="input-icon">
           <input type="text" placeholder="Confirmation Code" name="confirmation_code" class="frm-size" >
         </div>
        </div>	
   	   </div>	
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Full Name</label>
          <div class="input-icon">
           <input type="text" placeholder="Full Name" name="full_name" class="frm-size">
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Alias or Nicknames</label>
          <div class="input-icon">
           <input type="text" placeholder="Alias or Nicknames" name="alias_or_nicknames" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Relationship</label>
          <div class="input-icon">
           <input type="text" placeholder="Relationship" name="relationship" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Gender</label>
          <div class="input-icon">
           <input type="text" placeholder="Gender" name="gender" class="frm-size">
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Date of Birth</label>
          <div class="input-icon">
           <input type="date" placeholder="Date of Birth" name="date_of_birth" class="frm-size">
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Place of  Birth</label>
          <div class="input-icon">
    
          <input type="text" placeholder="Place of  Birth" name="place_of_birth" class="frm-size" >

         </div>
        </div>	
   	   </div>	
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Identification Number</label>
          <div class="input-icon">
           <input type="text" placeholder="identification_number" name="identification_number"  class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Type of Identification</label>
          <div class="input-icon">
 
          <input type="text" placeholder="Tyoe of Identification" name="type_of_identification" class="frm-size" >

         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Issuing Country</label>
          <div class="input-icon">
     
          <input type="text" placeholder="Issuing Country" name="issuing_country" class="frm-size" >

         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Nationality at Birth</label>
          <div class="input-icon">
         
          <input type="text" placeholder="Nationality at Birth" name="nationality_at_birth" class="frm-size" >

         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Other Citizenships</label>
          <div class="input-icon">
    
          <input type="text" placeholder="Other Citizenships" name="other_citizenships" class="frm-size" >

         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>State of Origin</label>
          <div class="input-icon">
         
          <input type="text" placeholder="State of Origin" name="state_of_rigin" class="frm-size" >
           
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>County of Origin</label>
          <div class="input-icon">
           <input type="text" placeholder="County of Origin" name="county_of_origin" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	    <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Payam of Origin</label>
          <div class="input-icon">
           <input type="text" placeholder="Payam of Origin" name="payam_of_origin" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Boma of Origin</label>
          <div class="input-icon">
           <input type="text" placeholder="Boma of Origin" name="boma_of_origin" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>State or Area of Residence</label>
          <div class="input-icon">
           <input type="text" placeholder="State or Area of Residence" name="state_or_area_of_residence" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>County of Residence</label>
          <div class="input-icon">
           <input type="text" placeholder="County of Residence" name="county_of_residence" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Payam of Residence</label>
          <div class="input-icon">
           <input type="text" placeholder="Payam of Residence" name="payam_of_residence" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Boma of Residence</label>
          <div class="input-icon">
           <input type="text" placeholder="Boma of Residence" name="boma_of_residence" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Tribe</label>
          <div class="input-icon">
           <input type="text" placeholder="Tribe" name="tribe" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Race</label>
          <div class="input-icon">
           <input type="text" placeholder="Race" name="race" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Religion</label>
          <div class="input-icon">
           <input type="text" placeholder="Religion" name="religion" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-12 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Physical Address</label>
          <div class="input-icon">
           <input type="text" placeholder="Physical Address" name="physical_address" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Mailing Address</label>
          <div class="input-icon">
           <input type="text" placeholder="Mailing Address" name="mailing_address" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Telephone Numbers</label>
          <div class="input-icon">
           <input type="text" placeholder="Telephone Numbers" name="telephone_numbers" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Email Addresses</label>
          <div class="input-icon">
           <input type="text" placeholder="Email Addresses" name="email_address" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>WhatsApp Number</label>
          <div class="input-icon">
           <input type="text" placeholder="WhatsApp Number" name="whatsApp_number" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Social Media Handles</label>
          <div class="input-icon">
           <input type="text" placeholder="Social Media Handles" name="social_media_handles" class="frm-size" >
          
           <p>+</p>	
          </div>
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Other Contacts</label>
          <div class="input-icon">
           <input type="text" placeholder="Other Contacts" name="other_contact_number" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-12 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Additional Information</label>
          <div class="input-icon">
           <textarea class="frm-size messege-box-size" name="additional_information" placeholder="Additional Information"></textarea>
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-12 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Marital Status</label>
          <div class="marital-statu-main-area">
            <span class="marital-status-check-box">
              <input type="radio" id="children" name="marital_status" value="Married With children">
              <label for="children">Married  With children</label>

              <input type="radio" id="nochildren" name="marital_status"  value="Married  Without children" >
              <label for="nochildren">Married Without children</label>

              <input type="radio" id="nevermarried" name="marital_status" value="Single Never Married">
              <label for="nevermarried">Single  Never Married</label> 

              <input type="radio" id="widower" name="marital_status" value="Widowed Widow or Widower" >
              <label for="widower">Widowed Widow or Widower</label>

              <input type="radio" id="divorced" name="marital_status" value="Divorced">
              <label for="divorced">Divorced</label>

              <input type="radio" id="engaged" name="marital_status" value="Engaged" >
              <label for="engaged">Engaged</label> 

              <input type="radio" id="separated" name="marital_status" value="Separated" >
              <label for="separated">Separated</label> 

              <input type="radio" id="lifepartner" name="marital_status" value="Life Partner" >
              <label for="lifepartner">Life Partner</label> 
             </span> 
         </div>
        </div>	
   	   </div>
       
        


     
   	   <div class="col-lg-12 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>If Married, How Many Wives?</label>
          <div class="input-icon">
           <input type="text" placeholder="Write Your Answers" name="how_many_wive" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-12 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>If you have children or dependents, how many?</label>
          <div class="row">
           <div class="col-lg-6 col-md-12 col-sm-12">	
            <div class="input-icon">
              <input type="Number" placeholder="Boys" name="boys" class="frm-size" >
            </div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12">	
            <div class="input-icon">
              <input type="Number" placeholder="Girls" name="girls" class="frm-size" >
            </div>
           </div>
          </div>
         </div>	
   	    </div>
   	  </div> 	
     
   	</div>
   </div>	
  </div>	
 </div>		
</section>




<section class="kin-information-main-area"> 
 <div class="container">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
   	<div class="form-information-heading-area">
   	 <h2>NEXT OF KIN INFORMATION</h2>
   	 <p>The Red Army Foundation asks that you provide a Next of Kin as part of your Membership Application Process. The “Next of Kin” refers to a person's closest living relative, including those with blood relationships and legally adopted relatives, such as a spouse, parents, siblings, and children.</p>	

   	 <p>The membership database the Red Army Foundation is developing is a historical factual document and can be used to obtain benefits and privileges from the Red Army Foundation, its institutions, partners, and governments. </p>

   	 <p>Therefore, the foundation would like to ensure that every member registered can be traced when their contacts are no longer in service. Hence, the foundation asks that you accurately designate one person among your relatives as the next of kin and answer the required questions.</p>

   	 <p>Any membership or privileges awarded based on false information you provided will be canceled. The Membership Disciplinary Committee shall impose disciplinary actions on those who knowingly provided incorrect information.</p>
   	</div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12">
   	<div class="personal-information-form-area">
     <div class="personal-information-form-heading">
      <h2>NEXT OF KIN INFORMATION FORM</h2>	
     </div>		
 
   	  <div class="row">
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Full Name</label>
          <div class="input-icon">
           <input type="text" placeholder="First Name" name="next_full_name" class="frm-size">
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Alias or Nicknames</label>
          <div class="input-icon">
           <input type="text" placeholder="Alias or Nicknames" name="next_alias_or_nicknames" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Relationship</label>
          <div class="input-icon">
           <input type="text" placeholder="Relationship" name="next_relationship" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Gender</label>
          <div class="input-icon">
           <input type="text" placeholder="Gender" name="next_gender" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Date of Birth</label>
          <div class="input-icon">
           <input type="date" placeholder="Date of Birth" name="next_date_of_birth" class="frm-size">
         </div>
        </div>	
   	   </div>
   	 
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="main-input-box">
          <label>Place of  Birth</label>
           <div class="input-icon">
     
           <input type="text" placeholder="Identification Number" name="next_place_of_birth" class="frm-size" >
 
          </div>
         </div>	
         </div>	
         <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="main-input-box">
          <label>Identification Number</label>
           <div class="input-icon">
            <input type="text" placeholder="Identification Number" name="next_identification_number" class="frm-size" >
          </div>
         </div>	
         </div>
         <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="main-input-box">
          <label>Type of Identification</label>
           <div class="input-icon">
  
           <input type="text" placeholder="Identification Number" name="next_type_of_identification" class="frm-size" >
 
          </div>
         </div>	
         </div>
         <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="main-input-box">
          <label>Issuing Country</label>
           <div class="input-icon">
      
           <input type="text" placeholder="Identification Number" name="next_issuing_country" class="frm-size" >
 
          </div>
         </div>	
         </div>
         <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="main-input-box">
          <label>Nationality at Birth</label>
           <div class="input-icon">
          
           <input type="text" placeholder="Identification Number" name="next_nationality_at_birth" class="frm-size" >
 
          </div>
         </div>	
         </div>
         <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="main-input-box">
          <label>Other Citizenships</label>
           <div class="input-icon">
        
           <input type="text" placeholder="Identification Number" name="next_other_citizenships" class="frm-size" >
 
          </div>
         </div>	
         </div>
         <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="main-input-box">
          <label>State of Origin</label>
           <div class="input-icon">
  
           <input type="text" placeholder="Identification Number" name="next_state_of_rigin" class="frm-size" >
            
          </div>
         </div>	
         </div> 
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>County of Origin</label>
          <div class="input-icon">
           <input type="text" placeholder="County of Origin" name="next_county_of_origin" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	    <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Payam of Origin</label>
          <div class="input-icon">
           <input type="text" placeholder="Payam of Origin" name="next_payam_of_origin" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Boma of Origin</label>
          <div class="input-icon">
           <input type="text" placeholder="Boma of Origin" name="next_boma_of_origin" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>State or Area of Residence</label>
          <div class="input-icon">
           <input type="text" placeholder="State or Area of Residence" name="next_state_or_area_of_residence" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>County of Residence</label>
          <div class="input-icon">
           <input type="text" placeholder="County of Residence" name="next_county_of_residence" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Payam of Residence</label>
          <div class="input-icon">
           <input type="text" placeholder="Payam of Residence" name="next_payam_of_residence" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Boma of Residence</label>
          <div class="input-icon">
           <input type="text" placeholder="Boma of Residence" name="next_boma_of_residence" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Tribe</label>
          <div class="input-icon">
           <input type="text" placeholder="Tribe" name="next_tribe" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Race</label>
          <div class="input-icon">
           <input type="text" placeholder="Race" name="next_race" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Religion</label>
          <div class="input-icon">
           <input type="text" placeholder="Religion" name="next_religion" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-12 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Physical Address</label>
          <div class="input-icon">
           <input type="text" placeholder="Physical Address" name="next_physical_address" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Mailing Address</label>
          <div class="input-icon">
           <input type="text" placeholder="Mailing Address" name="next_mailing_address" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Telephone Numbers</label>
          <div class="input-icon">
           <input type="text" placeholder="Telephone Numbers" name="next_telephone_numbers" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Email Addresses</label>
          <div class="input-icon">
           <input type="text" placeholder="Email Addresses" name="next_email_address" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>WhatsApp Number</label>
          <div class="input-icon">
           <input type="text" placeholder="WhatsApp Number" name="next_whatsApp_number" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Social Media Handles</label>
          <div class="input-icon">
           <input type="text" placeholder="Social Media Handles" name="next_social_media_handles" class="frm-size" >
           <div class="add-input-box-area">
           <p>+</p>	
          </div>
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-6 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Other Contacts</label>
          <div class="input-icon">
           <input type="text" placeholder="Other Contacts" name="next_other_contact_number" class="frm-size" >
         </div>
        </div>	
   	   </div>
   	   <div class="col-lg-12 col-md-12 col-sm-12">
   	    <div class="main-input-box">
         <label>Additional Information</label>
          <div class="input-icon">
           <textarea class="frm-size messege-box-size" name="next_additional_information" placeholder="Additional Information"></textarea>
         </div>
        </div>	
   	   </div>
   	   
   	   </div>
   	  </div> 	
       <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-submit-btn-area">
         <button type="submit" class="form-submit-btn btn-danger ">SUBMIT</a>	
        </div>
  	
   	 </form>	
   	</div>
   </div>	
  </div>	
 </div>	
</section> 





{% include 'dasboard/web_templates/footer.html' %}
 