{% load static  %}
{% include 'dasboard/web_templates/header.html' %}




<!--==================================
=         employment information    =
===================================-->




<section class="personal-information-main-area">
  <div class="container">
   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="form-information-heading-area">
       <h2>RED ARMY SERVICE INFORMATION</h2>
       <p>This part of the Membership Application form is limited to “ORGANIZED RED ARMY” as dictated by the Constitution of the Red Army Foundation. Organized Red Army, according to the constitution and membership classification, refers to those Red Army who were formally organized under Military (e.g., Bilpam, Bonga, Lotuke, Moli, Panda Oyee, Achodok, Moroto), Refugee (e.g., Pinyudu, Dimma, Tharpam, Kakuma, Adjumani), IDP (e.g., Polotaka, Narus, Natinga, Moli, Lobone, Aswa), and Diaspora (e.g., Cuba) camps during the SPLM/A Liberation Struggle for freedom.</p>	
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="personal-information-form-area">
      <div class="personal-information-form-heading">
       <h2>RED ARMY SERVICE INFORMATION FORM</h2>	
      </div>	
      <form class="personal-information-input-area" method="post" > 
        {% csrf_token %}
       <div class="row"> 
        <div class="col-lg-6 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>Camp (Markaz)</label>
           <div class="input-icon">
            <input type="text" placeholder="Camp (Markaz)" name="camp" class="frm-size" >
          </div>
         </div>  
        </div> 
        <div class="col-lg-6 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>Division (Liwa)</label>
           <div class="input-icon">
            <input type="text" placeholder="Division (Liwa)" name="division" class="frm-size" >
          </div>
         </div>  
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>Battalion (Katiba)</label>
           <div class="input-icon">
            <input type="text" placeholder="Battalion (Katiba)" name="battalion" class="frm-size" >
          </div>
         </div>  
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>Company (Siria)</label>
           <div class="input-icon">
            <input type="text" placeholder="Company (Siria)" name="company" class="frm-size" >
          </div>
         </div>  
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>Platoon (Fasila)</label>
           <div class="input-icon">
            <input type="text" placeholder="Platoon (Fasila)" name="platoon" class="frm-size" >
          </div>
         </div>  
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>Squad (Jamaa)</label>
           <div class="input-icon">
            <input type="text" placeholder="Squad (Jamaa)" name="squad" class="frm-size" >
          </div>
         </div>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>Current Rank (Rutba)</label>
           <div class="input-icon">
            <input type="text" placeholder="Current Rank (Rutba)" name="current_rank" class="frm-size" >
          </div>
         </div>  
        </div>
         <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>Were You Ever Engaged On The Battlefield?</label> 
          {{army_forms.engaged}}
         </div>  
        </div>
         <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>If The Answer Is Yes, List All The Military Operations You Were Engaged In And When, And Provide Names Of Your Living Overall And Line Commanders With You During Those Offensives.</label>
           <div class="input-icon">
           <textarea class="frm-size messege-box-size" name="military_operations" placeholder="Please Explain"></textarea>
          </div>
         </div>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>If You Did Not Engage In Any Battle Of The Splm/a During The War, Please Explain Why.</label>
           <div class="input-icon">
           <textarea class="frm-size messege-box-size" name="any_battle" placeholder="Please Explain"></textarea>
          </div>
         </div>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>If You Were On A Special Mission, E.g., Cuba Or Lost Boys And Girls Program Or Other Assignments, Provide Details Of The Unique Mission And What You And Your Group Accomplished During Your Mission That Contributed To The Such Of The Splm/a Liberation Struggle.</label>
           <div class="input-icon">
           <textarea class="frm-size messege-box-size" name="liberation_struggle" placeholder="Please Explain"></textarea>
          </div>
         </div>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>Upon Leaving Your Original Military, Refugee, And Idp Camp, Are There Other Splm/a Divisions, Battalions, Units, Special Operations, Or Foreign Missions You Joined?</label> 
          {{army_forms.original_military}}
         </div>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>If The Answer Is Yes, List All The Military, Refugee, And Idp Camps You Joined Afterward, Including Other Splm/a Divisions, Battalions, Units, And Special Operations Or Foreign Missions.</label>
           <div class="input-icon">
           <textarea class="frm-size messege-box-size" name="special_operations" placeholder="Please Explain"></textarea>
          </div>
         </div>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>Have You Ever Served Under The Civil Administration Of The New Sudan (Cans)?</label> 
          {{army_forms.civil_administration}}
         </div>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="main-input-box">
          <label>If The Answer Is Yes, List All Your Job Titles And Locations You Worked.</label>
           <div class="input-icon">
           <textarea class="frm-size messege-box-size" name="job_titles_and_locations" placeholder="Please Explain"></textarea>
          </div>
         </div>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="form-submit-btn-area">
          <button class="form-submit-btn" , type="submit" >SUBMIT</button>
         </div>
        </div>
       </div>  
      </form>		
      </div>
    </div>
   </div>	
  </div>		
 </section>
<!--==================================
=       employment information    =
===================================-->







<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 m-md-auto align-self-center">
          <div class="block footer-logo">
            <a href="#!"><img src="images/bannerImg2.png" alt="footer-logo"></a>
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="#!"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#!"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#!"><i class="ti-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#!"><i class="ti-pinterest-alt"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#!"><i class="ti-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <h6>Product</h6>
            <ul>
              <li><a href="#!">Teams & Conditions</a></li>
              <li><a href="#!">Privacy Policy</a></li>
              <li><a href="#!">Cookie Policy</a></li>
              <li><a href="#!">Legal Desclaimer</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">           
            <div class="single">
				<h2>Subscribe to our Newsletter</h2>
				<p>Subscribe to stay in the loop with our Programs updates and events</p>
			<div class="input-group">
		     <input type="email" class="form-control" placeholder="Enter your email">
		     <span class="input-group-btn">
		     <button class="btn btn-theme" type="submit">Subscribe</button>
		     </span>
		      </div>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bottomFooter py-3">
    <Ahmar class="text-secondary">Copyright &copy; Designed &amp; Developed by <a href="#!">Webnmobapps Solutions</a></Ahmar class="text-secondary">
  </div>
</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <!-- JAVASCRIPTS -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="plugins/google-map/gmap.js"></script>
  
  <script src="js/script.js"></script>

<script type="text/javascript">
 function initializeFileUploads() {
    $('.file-upload').change(function () {
        var file = $(this).val();
        $(this).closest('.input-icon').find('.file-upload-text').val(file);
    });
    $('.file-upload-btn').click(function () {
        $(this).find('.file-upload').trigger('click');
    });
    $('.file-upload').click(function (e) {
        e.stopPropagation();
    });
}


// On document load:
$(function() {
    initializeFileUploads();
});	
</script>


</body>

</html>