{% extends 'dasboard/index.html' %}

{% block content %}



<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <h4>Add User</h4>
      <div class="row">
        <div class="col-25">
          <label for="lname">User Name:</label>
        </div>
        <div class="col-75">
          <input type="text" id="name"   name="name" placeholder="Enter user name">
        </div>
      </div>
      
      <div class="row">
        <div class="col-25">
          <label for="subject">Review Description:</label>
        </div>
        <div class="col-75">
          <textarea  name="review" id="review" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
    <br>
   
{% endblock content %}