{% extends 'pages/index.html' %}
{% load static %}
  <title>{% block title %}Add Company Contact {% endblock title %} </title>
      {% block content %}
    <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Company Contact</h4>
                  <p class="card-description">
                   Add Company Contact
                  </p>
                  <form class="forms-sample" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for message in messages %}
                    <b style="color:#03e9f4" >{{message}}</b>
                    {% endfor %} <br>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Phone Number</label>
                      <input type="text" class="form-control" required id="exampleInputUsername1" name="Phone" placeholder="Phone Number" >
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="text" class="form-control" required id="exampleInputEmail1"  name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Address</label>
                        <input type="text" class="form-control" required id="exampleInputEmail1" name="Address" placeholder="Address">
                      </div>
                                   
                    <button type="submit" class="btn btn-primary mr-2">Add Company Contact</button>
                    
                      
                      
                  </div>
                  </form>
                </div>
              </div>


  
{% endblock content %}