<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}
  Alahmar | Admin Dashboard
 
  {% endblock title %} </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
 <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
 <link rel="stylesheet" href="{% static 'css/vertical-layout-light/profile.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}profile/

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'showdasboard' %}"><img src="{% static 'images/alahmar.jpeg' %}" style="display: inline-block;width: 70px; height: 70px;vertical-align: middle;background: 50% / 100% 100% no-repeat;" class="mr-2" alt="logo"/><h2 class="logo" style="display: inline;">Alahmar</h2></a>
        <!-- <a class="navbar-brand brand-logo-mini" href="/"><img src="{% static 'images/logo.png' %}" alt="logo"/></a> -->
      
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          
          <li class="nav-item nav-profile dropdown">
          <p class="nav-link dropdown-toggle" data-toggle="dropdown"  >
              <i class="fas fa-user text-primary" style="margin-right: 20px;"></i>
              </p>
<!--             
              {% for all in profile %}
              {% if all.user_id == request.user.id  %}<img src="{{all.profile_image.url}}" alt="profile"/>
              {% elif all.user_id != request.user.id  %}
                
              {% endif %}
              {% endfor %}
               -->
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'profileUser' %}">
                
                <i class="fas fa-user text-primary"></i>
                Profile
              </a>
              <a class="dropdown-item" href='{% url "logouts" %}'>
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>placeholder="Your name.."
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'showdasboard' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
              
              <i class="fas fa-image"></i>
              <span class="menu-title" style="margin-left: 18px;">Manage Gallery</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic1">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="">Add Gallery Image</a></li>
                <li class="nav-item"> <a class="nav-link" href="">Show Gallery</a></li>
                
                
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user_id" aria-expanded="false" aria-controls="ui-basic">
              
              <i class="fal fa-address-book"></i>
              <span class="menu-title" style="margin-left: 18px;">Manage User</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user_id">
              <ul class="nav flex-column sub-menu">
          
                <li class="nav-item"> <a class="nav-link" href="{% url 'addUser' %}">Add New User</a></li>
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'showUser' %}">Show User List</a></li>
              </ul>
            </div>
          </li>

         
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
              
              <i class="fal fa-address-book"></i>
              <span class="menu-title" style="margin-left: 18px;">Contact</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic2">
              <ul class="nav flex-column sub-menu">
               
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'showContactDetails' %}">Show Contact</a></li>
              </ul>
            </div>
          </li>

           

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic"> 
              <span class="menu-title" style="margin-left: 18px;"> Manage Home</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic5">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'homePageContent' %}"><b>Home Page Content</b> </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'showcontent' %}">Show Content</a></li>
                
              </ul>
            </div>
          </li>

         
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
              
         
              <span class="menu-title" style="margin-left: 18px;">About Us Page</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic4">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'aboutsPage' %}">Add Content Abouts Page</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'showotherAboutsData' %}">Add Other Content Abouts Page</a></li>
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'showAboutsPAge' %}">Show Abouts Page Content</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'showOtherAboutsPAge' %}">Show Other Abouts Page Content</a></li>
                
                
               
            </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#events_id" aria-expanded="false" aria-controls="ui-basic">
              
         
              <span class="menu-title" style="margin-left: 18px;">Manage Events </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="events_id">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'event' %}">Add New Events</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'eventList' %}">Events Lists</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'gallery' %}">Add Event Image</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'showGallery' %}">Show Gallery</a></li>
                
                
              </ul>
            </div>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#team_id" aria-expanded="false" aria-controls="ui-basic">
              
         
              <span class="menu-title" style="margin-left: 18px;">Manage Team </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="team_id">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'teamMembers' %}">Add New Members</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'teamMembersdeatils' %}">Team Members List</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Community_id" aria-expanded="false" aria-controls="ui-basic">
              
         
              <span class="menu-title" style="margin-left: 18px;">Manage Community </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Community_id">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'communityDiscussions' %}">Add New Community</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'communityDiscussionsDetails' %}">List All Community </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liked' %}">List Community Like </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'commentDetails' %}">List Community Comment</a></li>
                
                
              </ul>
            </div>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#forms_id" aria-expanded="false" aria-controls="ui-basic">
              
         
              <span class="menu-title" style="margin-left: 18px;">Manage Forms </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="forms_id">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'communityDiscussionsDetails' %}">Show List All Forms </a></li>
                
                
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#forms_submit_id" aria-expanded="false" aria-controls="ui-basic">
              
         
              <span class="menu-title" style="margin-left: 18px;">Forms Submission List </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="forms_submit_id">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'personalFormsSubmits' %}"> Form 1A Personal Information Forms </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'educationsFormsSubmits' %}"> Form 1B Education Information Form"  </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'employeeInformations' %}">Form 1C Emlpoyement Informations </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'specailNeedsForms' %}">Form 1D Special Needs Information Forms </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'VolunteerInformationsSubmits' %}">Form 1E Volunter Information Fomrs  </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'membersFormslist' %}">Form 1F Member Declaration Fomrs  </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'memberDeterminationslist' %}">Form 1G  Member Determinations Fomrs  </a></li>

                
                <li class="nav-item"> <a class="nav-link" href="{% url 'redArmyFormsList' %}">Form 3A Red Army Services Forms  </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'armedFormslist' %}">Form 3B Armed Forces Services Forms  </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'ssdpfFormslist' %}">Form 3C Commendation Informations Forms   </a></li>
                <li class="nav-item">  <a class="nav-link" href="{% url 'martyrsFormsListsdetails' %}">Form 3D Martyrs Recoard Forms  </a></li>
                
                
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#review_id" aria-expanded="false" aria-controls="ui-basic">
              
         
              <span class="menu-title" style="margin-left: 18px;">Manage Review </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="review_id">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> <a class="nav-link" href="">Add New Review</a></li>
                <li class="nav-item"> <a class="nav-link" href="">Show Review List</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#notification_id" aria-expanded="false" aria-controls="ui-basic">
              
         
              <span class="menu-title" style="margin-left: 18px;">Manage Notification </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="notification_id">
              <ul class="nav flex-column sub-menu">
                
                <li class="nav-item"> <a class="nav-link" href="{% url 'sendNotifications' %}">Send Notification</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'showNotification' %}">Show List Notification</a></li>
              </ul>
            </div>
          </li>

          
          <li class="nav-item">
            <a class="nav-link"  href="/page-enable-disable-show" aria-expanded="false" > 
              <span class="menu-title" style="margin-left: 18px;">Page Enable & Disable</span>
              
            </a>
            
          </li>
         
         



       </ul>
      </nav>
      {% block content %}

    
      {% comment %} ========================================main content==================================== {% endcomment %}


      
      <!-- partial -->
      
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome {{request.user| capfirst}}</h3>
                  
                </div>
                <!-- <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                     <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 
                     <i class="mdi mdi-calendar"></i> {{date}}
                    
                    
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="{% static 'images/dashboard/people.svg' %}" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Noida</h4>
                        <h6 class="font-weight-normal">India</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total User</p>
                      <p class="fs-30 mb-2">{{counter_user}}</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Super User</p>
                      <p class="fs-30 mb-2">{{superuser}}</p>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Staff User</p>
                      <p class="fs-30 mb-2">{{staff}}</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Total Active User</p>
                      <p class="fs-30 mb-2">{{active}}</p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Only Super  User <a href="{% url 'addUser' %}" class="btn btn-success btn-sm" style="margin-left: 22px;">Add User</a>
                  
                {% for message in messages %}
                <b style="color:#208817; margin-left: 22px;">{{message}}</b>
                {% endfor %} <br>
                  </h4>
                  
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                       <tr>
                          <th>Sr No</th>
                          <th>Username</th>
                          <th>Ph No.</th>
                          <th>E-Mail</th>
                          <th>Is Staff</th>
                          <th>Is Active</th>
                          <th>Is Super User</th>
                          <th>Last Login Date</th>
                      
                          <th>Action</th>

                        </tr> 
                      </thead>
                      <tbody>
                      {% for user in user|slice:"::" %}
                        <tr>
                          <td>
                            {{forloop.counter}}
                          </td>
                          <td>
                            {{user.username}}
                          </td>
                          <td>
                            {{user.phone_number}}
                          </td>
                          <td>
                            {{user.email}}
                          </td>
                          <td>
                            {% if user.is_staff == True %} 
                          {% comment %} {{user.is_superuser}} {% endcomment %}
                          <p class="fas fa-check-circle" style="color: green;"></p> 
                          {% else %}
                          <i class="fas fa-times-circle" style="color: red;"></i>
                          {% endif %}
                            
                          </td>
                          <td>
                            {% if user.is_active == True %} 
                          {% comment %} {{user.is_superuser}} {% endcomment %}
                          <p class="fas fa-check-circle" style="color: green;"></p> 
                          {% else %}
                          <i class="fas fa-times-circle" style="color: red;"></i>
                          {% endif %}
                            
                            
                          </td>
                          <td>

                          {% if user.is_superuser == True %} 
                          {% comment %} {{user.is_superuser}} {% endcomment %}
                          <p class="fas fa-check-circle" style="color: green;"></p> 
                          {% else %}
                          <i class="fas fa-times-circle" style="color: red;"></i>
                          {% endif %}
                            
                          </td>
                          <td>
                            {{user.last_login}}
                          </td>
                       
                          <td>
                          
                            <a href="delete-user/{{user.id}}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are You Sure')">Delete</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      
                    </table>
                  </div>
                    </div>
                  </div>


                </div>
              </div>
              
        {% endblock content %}
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% comment %} <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer> {% endcomment %}
        <!-- partial -->
           
            </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
 <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>

