{% extends 'dasboard/index.html' %}
{% load static %}
  <title>{% block title %} Gallery Records {% endblock title %} </title>
      {% block content %}

<div class="col-lg-11 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  
                  <p class="card-description">
                   
                  </p>
                  <h4 class="card-
                  Event
                  Eventle">Event Gallery  Record<a href="{% url 'gallery' %}" class="btn btn-success btn-sm" style="margin-left: 22px;">Add New Event</a>
                  <div class="table-responsive">
                  {% for message in messages %}
                <b style="color:#03e9f4" >{{message}}</b>
                {% endfor %} <br>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                           Event Id
                          </th>
                      
                          
                          <th>
                            Post Date
                          </th>
                          <th>Image</th>
                          <th>
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for data in page_obj %}
                        <tr>
                          
                          <td>
                          {{data.event.id}}
                          </td>
                       <td>
                            {{data.date}}
                          </td>
                          <td>
                            {{data.image}}
                          </td>
                       

                          <td>
                            <a href="edit-gallery/{{all.id}}" class="btn btn-outline-success btn-sm">Edit</a>
                            <a href="{% url 'eventImageDelete' data.id %}" class="btn btn-outline-danger btn-sm" onclick=" return confirm('Are You Sure')">Delete</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="row" >
                    <nav aria-label="...">
                      <ul class="pagination">
                        <li class="page-item">
                         {% if page_obj.has_previous %}
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
                          {% endif %}
                        </li>
                        
                        <span  class="page-link"  >{{page_obj.number}}</span>
                       
                
                        <li class="page-item">
                          {% if page_obj.has_next %}
                          <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                          {% endif %}
                        </li>
                      </ul>
                    </nav>
                   </div>
                </div>
              </div>
            </div>


 {% endblock content %}

